<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookslending">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.UserMainActivity"
            android:label="@string/title_activity_user_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".view.AdminMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".users.CheckNotBorrowActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".users.CheckBorrowedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.CheckBooksActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.ChangeBooksActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.AddBooksActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AdminLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>